<div class="card">
	<div class="card-header">
		<div class="row flex-items-xs-between">
			<div class="col-xs">
				<label>{{ receita.nome | uppercase}}</label>
			</div>
			<div class="col-xs text-right">
				<rating name="avaliacao" [float]="true" [readonly]="true" [(ngModel)]="receita.rating"></rating>
			</div>
		</div>
	</div>
	<div class="card-block">
		<div class="card-media-block">
			<img [src]="receita.imagem" class="card-media-image">
			<div class="card-media-description">
				<span class="card-media-title">
					Autor: {{ receita.criador.nome}}.
				</span>
				<span class="card-media-title">
					Tempo de Preparo: {{ receita.minsPreparo}} minutos.
				</span>
				<span class="card-media-title">
					Categoria: {{ receita.categoria.nome}}.
				</span>
			</div>
		</div>
		<div class="card-text">
			{{ receita.descricao}}.
		</div>
	</div>
	<div class="card-footer">
		<a class="btn btn-sm btn-link" href="#" [routerLink]="['/receita', receita.id]" routerLinkActive="active">Ver Receita</a>
	</div>
</div>