<div class="main-container">
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <clr-vertical-nav [clrVerticalNavCollapsible]="true">
            <!-- Adicionar em app-routing.module -->
            <a clrVerticalNavLink href="#" routerLink="./topavaliacao" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="star"></clr-icon>
                Bem Avaliados</a>
            <clr-vertical-nav-group routerLinkActive="active">
                <clr-icon shape="view-cards" clrVerticalNavIcon></clr-icon>
                Categorias
                <clr-vertical-nav-group-children *clrIfExpanded="true">
                    <div *ngFor="let cat of categorias">
                        <a clrVerticalNavLink routerLink="./categoria/{{cat.id}}" href="#" (click)="categoriarComp.carregarCategoria()" routerLinkActive="active">
                            {{cat.nome}}
                        </a>
                    </div>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
        </clr-vertical-nav>
    </div>
</div>