<table class="table table-compact table-vertical">
    <tbody>
        <tr>
            <th>Nome</th>
            <td>{{receita.nome}}</td>
        </tr>
        <tr>
            <th>Tempo de Preparo (minutos)</th>
            <td>{{receita.minsPreparo}}</td>
        </tr>
        <tr>
            <th>Categoria</th>
            <td>{{ receita.categoria.nome }}</td>
        </tr>
        <tr>
            <th>Descrição</th>
            <td>{{receita.descricao}}</td>
        </tr>
    </tbody>
</table>