<div class="row" *ngIf="loading">
    <div class="col-xs text-center">
        <span class="spinner">
            Loading...
        </span>
    </div>
</div>
<div class="row" *ngIf="!loading && receita">
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    <div class="row">
                        <div class="col-md-6">
                            {{receita.nome}}
                        </div>
                        <div class="col-md-6 text-right">
                            <rating name="avaliacao" [float]="true" [readonly]="true" [(ngModel)]="avgRatingReceita"></rating>
                        </div>
                    </div>
                </h4>
            </div>
            <div class="card-img">
                <img [src]="receita.imagem">
            </div>
            <div class="card-block">
                <!-- <span class="badge badge-3">{{receita.categoria.nome}} </span> -->
                <!-- <a class="label label-blue">
                    San Jose
                    <span class="badge">66</span>
                </a> -->
                <div class="card-title">
                    Descrição
                </div>
                <p class="card-text">
                    {{receita.descricao}}
                </p>
            </div>

        </div>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="card col-sm-12 col-xs-12">
            <div class="card-block">
                <h4 class="card-title">Resumo do Modo de Preparo</h4>
            </div>
            <div class="card-block">
                <ol class="list">
                    <li *ngFor="let etapa of receita.etapas">
                        {{etapa.nome | uppercase }}
                        <ol class="list">
                            <li *ngFor="let passo of etapa.passos">{{passo.descricao}}</li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Ingredientes</h4>
            </div>

            <ul class="list-unstyled">
                <li *ngFor="let ingt of receita.ingts">
                    <b>{{ingt.quant}}</b> {{detailMedida(ingt.uMedida).desc}} de
                    <b>{{ingt.ingrediente.nome}}</b>.</li>
            </ul>

            <div class="card-footer">
                <button class="btn btn-sm btn-link" (click)="prepararReceita()">Preparar Receita</button>
                <!-- <button class="btn btn-sm btn-link">Lista de Compras</button> -->

            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Criador</h4>
                <p class="card-text">{{receita.criador.email}}</p>
            </div>
            <div class="card-footer" *ngIf="isDonoReceita()">
                <a class="btn btn-sm btn-link" (click)="editarReceita()">Editar Receita</a>
            </div>
            <div class="card-footer" *ngIf="!isDonoReceita()">
                <a class="btn btn-sm btn-link">Ver Perfil</a>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-sm-12 col-xs-12">
        <app-comentario-receita [receita]="receita"></app-comentario-receita>
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Tempo de Preparo</h4>
                <p class="card-text">{{receita.minsPreparo}} minutos.</p>
            </div>
        </div>
    </div>

</div>
<preparar-receita-component [receita]="receita" [medidas]="medidas"></preparar-receita-component>
<publicar-receita-component [receita]="editedReceita"></publicar-receita-component>