<div class="row" *ngIf="loading">
    <div class="col-xs text-center">
        <span class="spinner">
            Loading...
        </span>
    </div>
</div>
<div *ngIf="!loading">

    <h3>Despensa</h3>
    <div class="row">
        <p class="col-md-12">
            Através da despensa você poderá adicionar ingredientes para realizar a busca das receitas:
        </p>
    </div>
    <!-- <button class="btn btn-primary btn-block">Adicionar Item na Despensa</button> -->
    <div class="row" *ngIf="despensa">
        <div class="col-md-6">
            <h4>Ingredientes Cadastrados</h4>

            <clr-datagrid>
                <clr-dg-action-bar>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-secondary" (click)="abrirModalAddIngrediente()">
                            <clr-icon shape="plus"></clr-icon> Ingrediente</button>
                        <button type="button" class="btn btn-sm btn-secondary" (click)="limparDespensa()">
                            <clr-icon shape="close"></clr-icon> Limpar</button>
                    </div>
                </clr-dg-action-bar>
                <clr-dg-column>Nome</clr-dg-column>

                <clr-dg-row *ngFor="let ings of despensa.ings">
                    <clr-dg-cell>{{ings.ingrediente.nome}}</clr-dg-cell>

                    <clr-dg-action-overflow>
                        <button class="action-item" (click)="removeItemDespensa(ings)">Excluir</button>
                    </clr-dg-action-overflow>

                </clr-dg-row>

                <clr-dg-footer>{{despensa.ings.length}} ingrediente(es).</clr-dg-footer>
            </clr-datagrid>
            <!-- <button class="btn btn-success btn-block" (click)="buscarReceitasCompatives()">Buscar Receitas</button> -->
        </div>
        <div class="col-md-6">
            <h4>Receitas Compatíveis</h4>

            <div *ngIf="scores">
                <div *ngIf="despensa.ings.length == 0">
                    <br>
                    <clr-alert>
                        <div class="alert-item">
                            <span class="alert-text">
                                Para obter receitas compatíveis adicione os ingredientes na despensa.
                            </span>
                        </div>
                    </clr-alert>
                </div>
                <div *ngIf="scores.length == 0 && despensa.ings.length != 0">
                    <clr-alert>
                        <div class="alert-item">
                            <span class="alert-text">
                                Não foi possível encontrar receita compatível com os ingredientes da despensa.
                            </span>
                        </div>
                    </clr-alert>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="text-center spinnerBusca" *ngIf="loadingBusca">
                        <span class="spinner spinner-inline">
                            Buscando receitas com Ingredientes compatíveis...
                        </span>
                        <span>
                            Buscando receitas com Ingredientes compatíveis...
                        </span>
                    </div>
                    <div *ngIf="!loadingBusca">
                        <div class="card" *ngFor="let score of scores">
                            <div class="card-header">
                                <div class="row flex-items-xs-between">
                                    <div class="col-xs">
                                        <label>{{ score.receita.nome | uppercase}}</label>
                                    </div>
                                    <div class="col-xs text-right">
                                        <span class="badge badge-blue">{{ score.score }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="card-media-block">
                                    <img [src]="score.receita.foto" class="card-media-image">
                                    <div class="card-media-description">
                                        <span class="card-media-title">
                                            Tempo de Preparo: {{ score.receita.minsPreparo}}
                                        </span>
                                        <span class="card-media-title">
                                            Categoria: {{ score.receita.categoria.nome}}
                                        </span>
                                    </div>
                                </div>
                                <div class="card-text">
                                    {{ score.receita.descricao}}
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-sm btn-link">Ver Receita</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<clr-modal [(clrModalOpen)]="modalAdd">
    <h3 class="modal-title">Adicionar Ingrediente</h3>
    <div class="modal-body">
        <div class="form-group row">
            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                <label for="gForm_1">Ingrediente: </label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <ng2-completer [minSearchLength]="1" id="ingrediente" name="ingrediente" autofocus="true" textNoResults="Ingrediente não encontrado!"
                    placeholder="Nome do Ingrediente..." [(ngModel)]="searchStr" [datasource]="dataService"></ng2-completer>
                <br/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="modalAdd = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="adicionarIngrediente()">Adicionar</button>
    </div>
</clr-modal>