<div>
    <h3>Despensa</h3>
    <!-- <button class="btn btn-primary btn-block">Adicionar Item na Despensa</button> -->
    <div *ngIf="despensa">
        <div class="card-columns">
            <div class="card-size">
                <div class="card" *ngFor="let ings of despensa.ings">
                    <div class="card-img">
                        <img class="image-resize" [src]="ings.i.foto">
                    </div>
                    <div class="card-block">
                        <p class="card-text" style="text-align: center;">
                            <label>{{ings.i.nome}}</label>
                            <!-- {{ings.i.tipo}} -->
                        </p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-link">Remover</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>