<div class="login-wrapper" (keyup.enter)="entrar()">
    <form class="login" (ngSubmit)="entrar()">
        <label class="title">
            <h3 class="welcome">Bem Vindo ao</h3>
            Let's Cook
            <h5 class="hint">Utilize seu e-mail e senha para entrar</h5>
        </label>
        <div class="login-group">
            <input [(ngModel)]="usuario.email" class="username" type="text" id="login_username" placeholder="E-mail" name="login">
            <input [(ngModel)]="usuario.senha" class="password" type="password" id="login_password" placeholder="Password" name="senha">            
            <div class="error active" *ngIf="erroLogar">
                {{erroMensagem}}
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
    </form>
</div>