<div class="row" *ngIf="loading">
    <div class="col-xs text-center">
        <span class="spinner">
            Loading...
        </span>
    </div>
</div>
<div *ngIf="!loading">
    <ver-receita-component *ngIf="receita.id" [receita]="receita"></ver-receita-component>
    <clr-wizard #wizard [(clrWizardOpen)]="_open" clrWizardSize="xl">
        <clr-wizard-title *ngIf="receita.id">Editar Receita</clr-wizard-title>
        <clr-wizard-title *ngIf="!receita.id">Publicar Receita</clr-wizard-title>

        <clr-wizard-button [type]="'cancel'">Cancelar</clr-wizard-button>
        <clr-wizard-button [type]="'previous'">Voltar</clr-wizard-button>
        <clr-wizard-button [type]="'next'">Avançar</clr-wizard-button>
        <clr-wizard-button [type]="'finish'" (click)="publicarReceita()">Publicar</clr-wizard-button>

        <clr-wizard-page [clrWizardPageNextDisabled]="!validationStepOne()">
            <ng-template clrPageNavTitle>
                Informações</ng-template>
            <ng-template clrPageTitle>
                <clr-icon shape="library" size="48"></clr-icon>
                <label>Informações</label>
            </ng-template>

            <form (keydown.enter)="$event.preventDefault()" class="compact" #formPageOne="ngForm">
                <section class="form-block">
                    <div class="form-group">
                        <label class="required">Nome</label>
                        <label for="nomeInput" aria-haspopup="true" role="tooltip">
                            <input type="text" autofocus="true" id="nomeInput" required [(ngModel)]="receita.nome" name="nome" #name="ngModel" placeholder="Nome">
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="required">Tempo de Preparo (minutos): </label>
                        <input type="number" name="minsPreparo" step="5" [(ngModel)]="receita.minsPreparo" size="30" placeholder="Tempo de Preparo">
                    </div>
                    <div class="form-group">
                        <label class="required">Categoria: </label>
                        <div class="select">
                            <select name="receita.categoria" [(ngModel)]="receita.categoria">
                                <option [ngValue]="null" disabled>Selecione</option>
                                <option [ngValue]="cat" *ngFor="let cat of categorias">{{cat.nome}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="required">Descrição: </label>
                        <textarea name="receita.descricao" [(ngModel)]="receita.descricao" placeholder="Descrição"></textarea>
                    </div>
                </section>
            </form>
        </clr-wizard-page>

        <clr-wizard-page [clrWizardPageNextDisabled]="!validationStepTwo()">
            <ng-template clrPageTitle>
                <clr-icon shape="list" size="48"></clr-icon>
                <label>Ingredientes</label>
            </ng-template>
            <ng-template clrPageNavTitle>Ingredientes</ng-template>

            <p class="p6">Adicione todos os ingredientes necessários para o preparo da receita:</p>

            <form (keydown.enter)="$event.preventDefault()" class="compact" #formPageTwo="ngForm" *ngIf="medidas">
                <section class="form-block">
                    <label>Adicionar Ingrediente</label>
                    <div class="form-group row">
                        <div class="col-md-2">
                            <label class="required">Ingrediente:</label>

                        </div>
                        <div class="col-md-2">

                            <div class="select">
                                <select name="ingredienteCad.ingrediente" class="form-control" [(ngModel)]="ingredienteCad.ingrediente">
                                    <option [ngValue]="null" disabled>Selecione</option>
                                    <option [ngValue]="ing" *ngFor="let ing of allIngredientes">{{ing.nome}}</option>
                                </select>
                            </div>

                        </div>

                        <div class="col-md-2">
                            <label class="required">Un. Medida: </label>
                        </div>
                        <div class="col-md-2">
                            <div class="select">
                                <select class="form-control" name="ingredienteCad.uMedida" [(ngModel)]="ingredienteCad.uMedida">
                                    <option [ngValue]="null" disabled>Selecione</option>
                                    <option [ngValue]="med.name" *ngFor="let med of medidas">{{med.desc}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <label class="required">Quantidade:</label>
                        </div>
                        <div class="col-md-1">
                            <input class="form-control" min="0" name="ingredienteCad.quant" [(ngModel)]="ingredienteCad.quant" type="number" placeholder="Qtde">
                        </div>

                    </div>
                    <button class="btn btn-primary btn-sm" (click)="adicionarIngrediente()">Adicionar</button>
                    <button class="btn btn-outline btn-sm" (click)="limparIngrediente()">Limpar</button>

                    <clr-alert [clrAlertType]="'alert-warning'" *ngIf="alertIngrediente" [clrAlertSizeSmall]="true">
                        <div class="alert-item">
                            <span class="alert-text">
                                Ingrediente já cadastrado, caso queira alterar a quantidade utilize a opção de edição.
                            </span>
                        </div>
                    </clr-alert>

                </section>

                <section class="form-block">
                    <label>Ingredientes Cadastrados</label>
                    <table class="table table-compact">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Unidade de Medida</th>
                                <th>Quantidade</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ingt of receita.ingts">
                                <td>
                                    {{ingt.ingrediente.nome}}
                                </td>
                                <td *ngIf="ingt != ingrEdited">{{detailMedida(ingt.uMedida).desc}}</td>
                                <td *ngIf="ingt == ingrEdited">
                                    <div class="select">
                                        <select class="form-control" name="ingt.uMedida" [(ngModel)]="ingt.uMedida">
                                            <option [ngValue]="null" disabled>Selecione</option>
                                            <option [ngValue]="med.name" *ngFor="let med of medidas">{{med.desc}}</option>
                                        </select>
                                    </div>
                                </td>
                                <td *ngIf="ingt != ingrEdited">{{ingt.quant}}</td>
                                <td *ngIf="ingt == ingrEdited">
                                    <input class="form-control" min="0" name="ingt.quant" [(ngModel)]="ingt.quant" type="number" placeholder="Qtde">
                                </td>

                                <td>
                                    <clr-icon *ngIf="ingt == ingrEdited" shape="floppy" (click)="salvarIngrediente()"></clr-icon>
                                    <clr-icon *ngIf="ingt != ingrEdited" shape="pencil" (click)="editarIngrediente(ingt)"></clr-icon>
                                    <clr-icon shape="trash" (click)="excluirIngrediente(ingt)"></clr-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </form>
        </clr-wizard-page>

        <clr-wizard-page [clrWizardPageNextDisabled]="!validationStepThree()">
            <ng-template clrPageNavTitle>Modo de Preparo</ng-template>
            <ng-template clrPageTitle>
                <clr-icon shape="tasks" size="48"></clr-icon>
                <label>Modo de Preparo</label>
            </ng-template>


            <form (keydown.enter)="$event.preventDefault()" class="compact" name="publicar">
                <p class="p6"> Represente o modo de preparo através da definição de etapas e passos, utilizando o cronometro para identificar
                    tarefas com tempo definido e a o icone de balão inserir dicas.</p>
                <h4 class="stack-header">
                    <span class="stack-title">Adicione Etapas e Passos</span>
                    <span class="stack-actions">
                        <button class="stack-action btn btn-sm btn-link" type="button" (click)="redefinirEtapas()">Redefinir</button>
                        <button class="stack-action btn btn-sm btn-link" type="button" (click)="addNewEtapa()">Adicionar Etapa</button>
                    </span>
                </h4>
                <dl class="stack-view">
                    <div class="stack-block stack-block-expanded" *ngFor="let etapa of receita.etapas">
                        <dd class="stack-block-content" (dblclick)="editarEtapa(etapa)">
                            <div class="row">
                                <div class="col-lg-10 col-md-10">
                                    <div *ngIf="etapa != this.etapaEdited">
                                        {{etapa.nome}}
                                    </div>
                                    <div *ngIf="etapa == this.etapaEdited">
                                        <input type="text" appAutofocus id="etapa.nome" required name="etapa.nome" [(ngModel)]="etapa.nome" (focusout)="salvarEtapa()"
                                            (keyup.enter)="salvarEtapa()" trim="blur" placeholder="Nome da Etapa">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2">
                                    <div class="text-right">
                                        <clr-icon shape="plus" (click)="adicionarNovoPasso(etapa)"></clr-icon>
                                        <clr-icon shape="trash" (click)="excluirEtapa(etapa)"></clr-icon>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        <div class="stack-children">
                            <div class="stack-block" *ngFor="let passo of etapa.passos">
                                <dd class="stack-block-content" (dblclick)="editarPasso(passo)">
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-xs-10">
                                            <div *ngIf="passo != this.passoEdited">
                                                {{passo.descricao}}
                                            </div>
                                            <div *ngIf="passo == this.passoEdited">
                                                <input (keyup.enter)="salvarPasso()" (focusout)="salvarPasso()" size="{{contaPalavras(passo.descricao)}}" type="text" appAutofocus
                                                    id="passo.descricao" required name="passo.descricao" [(ngModel)]="passo.descricao"
                                                    trim="blur" placeholder="Descrição do Passo">
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-lg-2">

                                            <div class="text-right">
                                                <clr-signpost>
                                                    <clr-icon shape="chat-bubble" [class.is-solid]="passo.dica" clrSignpostTrigger></clr-icon>
                                                    <clr-signpost-content clrPosition="left-middle" *clrIfOpen>
                                                        <h4>Inserir Dica</h4>
                                                        <textarea [(ngModel)]="passo.dica" name="dica" placeholder="Dica..."></textarea>
                                                    </clr-signpost-content>
                                                </clr-signpost>

                                                <clr-signpost>
                                                    <clr-icon shape="alarm-clock" [class.is-solid]="passo.minPasso" clrSignpostTrigger></clr-icon>
                                                    <clr-signpost-content clrPosition="left-middle" *clrIfOpen>
                                                        <h4>Cronômetro</h4>
                                                        <div class="form-group">
                                                            <label>Duração (minutos): </label>
                                                            <input [(ngModel)]="passo.minPasso" name="minPasso" type="number" step="5">
                                                        </div>
                                                    </clr-signpost-content>
                                                </clr-signpost>
                                                <!-- <clr-icon shape="pencil" (click)="editarPasso(passo)"></clr-icon> -->
                                                <clr-icon shape="trash" (click)="excluirPasso(passo, etapa)"></clr-icon>
                                            </div>
                                        </div>
                                    </div>
                                </dd>
                            </div>
                        </div>
                    </div>
                </dl>
            </form>

        </clr-wizard-page>

        <clr-wizard-page [clrWizardPageNextDisabled]="!validationStepFour()">
            <ng-template clrPageNavTitle>Imagem da Receita</ng-template>
            <ng-template clrPageTitle>
                <clr-icon shape="tasks" size="48"></clr-icon>
                <label>Imagem da Receita</label>
                <!-- <resumo-receita-component [(receita)]="receita"></resumo-receita-component> -->
            </ng-template>
            <form (keydown.enter)="$event.preventDefault()" class="compact" name="imagem">
                <div class="form-group">
                    <label class="required">Imagem: </label>
                    <img-cropper [image]="img" [settings]="cropperSettings"></img-cropper>
                    <!-- <img [src]="img.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight"> -->
                </div>
            </form>
        </clr-wizard-page>

    </clr-wizard>
</div>