<clr-modal [(clrModalOpen)]="holderService.modalOpen" [clrModalClosable]="holderService.modalIsCloseable" (keyup.enter)="entrarInMock()">
    <h3 class="modal-title">Entrar Let's Cook</h3>
    <div class="modal-body">
        <div>
            <h6>Utilize seu e-mail e senha para entrar</h6>
            <div class="form-group">
                <input [(ngModel)]="usuario.email" class="username input-width-full input-margin" type="text" placeholder="E-mail" name="login">
            </div>
            <div class="form-group">
                <input [(ngModel)]="usuario.senha" class="password input-width-full input-margin" type="password" placeholder="Senha" name="senha">
            </div>
            <div class="alert alert-danger" *ngIf="erroLogar">
                <div class="alert-items">
                    <div class="alert-item">
                        <div class="alert-icon-wrapper">
                            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                        </div>
                        <span class="alert-text"> {{erroMensagem}} </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-block">Registre-se</button>
        <button type="button" class="btn btn-primary btn-block" (click)="entrar()">Entrar</button>
    </div>
</clr-modal>