<div class="row">
    <div class="col-md-6">
        <form class="compact" #userRegForm="ngForm">
            <section class="form-block">
                <label>Cadastro do usuário</label>
                <div class="form-group">
                    <label>Nome: </label>
                    <label aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="nomeInput.invalid && (nomeInput.dirty || nomeInput.touched)">
                        <input type="text" id="nome" placeholder="Digite seu nome" required name="nome" [(ngModel)]="userFull.nome" #nomeInput="ngModel">
                        <span class="tooltip-content">
                            Você precisa preencher seu nome.
                        </span>
                    </label>
                </div>
                <div class="form-group">
                    <label>E-mail: </label>
                    <label aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
                        <input type="email" id="email" placeholder="Digite seu e-mail" required name="email" [(ngModel)]="userFull.email" #emailInput="ngModel">
                        <span class="tooltip-content">
                            Você precisa preencher seu e-mail.
                        </span>
                    </label>
                </div>
                <div class="form-group">
                    <label>Data de Nascimento: </label>
                    <label aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="dateInput.invalid && (dateInput.dirty || dateInput.touched)">
                        <input type="date" id="date" required name="date" [(ngModel)]="dataNascimento" #dateInput="ngModel" (blur)="formatDataNasc()">
                        <span class="tooltip-content">
                            Você precisa preencher sua data de nascimento.
                        </span>
                    </label>
                </div>
                <div class="form-group">
                    <label>Senha: </label>
                    <label aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="senhaInput.invalid && (senhaInput.dirty || senhaInput.touched)">
                        <input type="password" id="senha" placeholder="Digite a senha" required name="senha" [(ngModel)]="senha" #senhaInput="ngModel"
                            (blur)="compareSenha()">
                        <span class="tooltip-content">
                            Você precisa preencher a senha.
                        </span>
                    </label>
                </div>
                <div class="form-group">
                    <label>Repetir Senha: </label>
                    <label aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="senhatwoInput.invalid && (senhatwoInput.dirty || senhatwoInput.touched)">
                        <input type="password" id="senhatwo" placeholder="Digite a senha" required name="senhatwo" [(ngModel)]="senhatwo" #senhatwoInput="ngModel"
                            (blur)="compareSenha()">
                        <span class="tooltip-content">
                            Você precisa preencher novamente a senha.
                        </span>
                    </label>
                </div>
                <div class="form-group">
                    <label>Sexo:</label>
                    <div class="select">
                        <select [(ngModel)]="userFull.genero" name="sexo" #sexoInput="ngModel">
                            <option value="F">Feminino</option>
                            <option value="M">Masculino</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="aForm_4">Sobre você:</label>
                    <textarea [(ngModel)]="userFull.descricao" name="descricao"></textarea>
                </div>
                <clr-alert [clrAlertType]="typealert" *ngIf="alertOn">
                    <div class="alert-item">
                        <span class="alert-text">
                            {{messagealert}}
                        </span>
                    </div>
                </clr-alert>
                <button type="button" class="btn btn-primary btn-block" (click)="criarusuario()" [disabled]="userRegForm.form.invalid || registrando">Cadastrar</button>
            </section>
        </form>
    </div>
</div>