<div class="main-container">
    <clr-alert [clrAlertType]="'alert-info'" *ngIf="holderService.alert" [clrAlertAppLevel]="true">
        <clr-alert-item>
            <span class="alert-text">
                    {{ holderService.alert.detail }}
                    </span>
        </clr-alert-item>
    </clr-alert>
    <header class="header header-4">
        <div class="branding">
            <a class="nav-link">
                <clr-icon shape="vmw-app"></clr-icon>
                <span class="title">Let's Cook</span>
            </a>
        </div>
        <div class="header-nav">
            <a class="nav-link nav-icon">
                <clr-icon shape="cloud"></clr-icon>
            </a>
            <a class="active nav-link nav-icon">
                <clr-icon shape="folder"></clr-icon>
            </a>
        </div>
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-icon" clrDropdownTrigger>
                    <clr-icon shape="view-list"></clr-icon>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a clrDropdownItem (click)="sair()" *ngIf="holderService.userLogado">Sair</a>
                    <a clrDropdownItem (click)="entrar()" *ngIf="!holderService.userLogado">Entrar</a>
                    <a clrDropdownItem (click)="createPainelDeControle()" *ngIf="holderService.userLogado">Painel de controle</a>
                    <a clrDropdownItem>Outra Opção</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>
    <subnav-component [subnavAtivo]="subnavAtivo" [menus]="infoMenuSubNav"></subnav-component>
    <div class="content-container">
        <div class="content-area">
            <dynamic-component [componentData]="componentData"></dynamic-component>
            <login-component></login-component>
        </div>
        <clr-vertical-nav *ngIf="sidenavActive" [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
            <sidenav-component></sidenav-component>
        </clr-vertical-nav>
    </div>
</div>