<div class="main-container">
    <header class="header header-4">
        <div class="branding">
            <a class="nav-link">
                <clr-icon shape="home"></clr-icon>
                <span class="title">Let's Cook</span>
            </a>
        </div>
        <div class="header-nav">
            <a class="nav-link nav-icon">
                <clr-icon shape="cloud"></clr-icon>
            </a>
            <a class="active nav-link nav-icon">
                <clr-icon shape="folder"></clr-icon>
            </a>
        </div>
        <div class="header-actions">
            <clr-dropdown clrMenuPosition="bottom-right">
                <button class="nav-icon" clrDropdownToggle>
                    <clr-icon shape="cog"></clr-icon>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu>
                    <a clrDropdownItem (click)="sair()" *ngIf="holderService.userLogado">Sair</a>
                    <a clrDropdownItem (click)="entrar()" *ngIf="!holderService.userLogado">Entrar</a>
                    <a clrDropdownItem (click)="createMenuReceitaComponent()">Menu Receitas</a>
                    <a clrDropdownItem>Outra Opção</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>
    <subnav-component [subnavAtivo]="subnavAtivo" [menus]="infoMenuSubNav"></subnav-component>
    <div class="content-container">
        <div class="content-area">
            <dynamic-component [componentData]="componentData"></dynamic-component>
            <login-component></login-component>
        </div>
        <clr-vertical-nav [clrVerticalNavCollapsible]="sidenavActive" [(clrVerticalNavCollapsed)]="collapsed">
            <a clrVerticalNavLink routerLink="./normal" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
                Normal
            </a>
            <a clrVerticalNavLink routerLink="./electric" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="bolt"></clr-icon>
                Electric
            </a>
            <a clrVerticalNavLink routerLink="./poison" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="sad-face"></clr-icon>
                Poison
            </a>
            <a clrVerticalNavLink routerLink="./grass" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="bug"></clr-icon>
                Grass
            </a>
            <a clrVerticalNavLink routerLink="./fighting" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
                Fighting
            </a>
            <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="certificate"></clr-icon>
                Credit
            </a>
        </clr-vertical-nav>
    </div>
</div>