<div class="main-container">
    <header class="header header-6">
        <div class="branding">
            <a class="nav-link">
                <clr-icon shape="home"></clr-icon>
                <span class="title">Let's Cook</span>
            </a>
        </div>
        <div class="search">
            <label for="search_input">
                <input id="search_input" name="receita" type="text" placeholder="Buscar Receita..." [(ngModel)]="receita" >
            </label>
        </div>
        <div class="header-actions">
            <clr-dropdown clrMenuPosition="bottom-right">
                <button class="nav-icon" clrDropdownToggle>
                    <clr-icon shape="cog"></clr-icon>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu>
                    <a clrDropdownItem (click)="sair()">Sair</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <dynamic-component [componentData]="componentData"></dynamic-component>
        </div>
    </div>
</div>