<clr-main-container>
    <clr-alert [clrAlertType]="alert.clrAlertType" *ngIf="alert.msg" [clrAlertAppLevel]="true">
        <clr-alert-item>
            <span class="alert-text">
                {{ alert.msg }}
            </span>
        </clr-alert-item>
    </clr-alert>
    <clr-header class="header-4">
        <div class="branding">
            <a class="nav-link" href="./">
                <clr-icon class="is-inverse" shape="vmw-app"></clr-icon>
                <span class="title">Let's Cook</span>
            </a>
        </div>
        <div class="search">
            <label for="search_input" for="search_input" aria-haspopup="true" role="tooltip" class="tooltip tooltip-lg tooltip-bottom-right">
                <input id="search_input" name="searchNomeReceita" type="text" placeholder="Nome da Receita..." [(ngModel)]="searchNomeReceita"
                    (keyup.enter)="buscarReceitas()">
                <span class="tooltip-content">Após inserir o nome da receita pressione "Enter"</span>
            </label>
        </div>
        <div class="header-nav">
            <!-- <clr-tooltip>
                <a class="nav-link nav-icon" href="./" clrTooltipTrigger>
                    <clr-icon shape="book"></clr-icon>
                </a>
                <clr-tooltip-content clrPosition="bottom-right" clrSize="md" *clrIfOpen>
                    <span>Página Inicial</span>
                </clr-tooltip-content>
            </clr-tooltip> -->
            <clr-tooltip>
                <a class="nav-link nav-icon" *ngIf="holderService.userLogado" (click)="abrirComponentesGenericoDaIndex('PainelDeControleComponent')"
                    clrTooltipTrigger>
                    <clr-icon shape="cog"></clr-icon>
                </a>
                <clr-tooltip-content clrPosition="bottom-right" clrSize="md" *clrIfOpen>
                    <span>Administração</span>
                </clr-tooltip-content>
            </clr-tooltip>
            <clr-tooltip>
                <a class="nav-link nav-icon" href="./despensa" *ngIf="holderService.userLogado" clrTooltipTrigger>
                    <clr-icon shape="bundle"></clr-icon>
                </a>
                <clr-tooltip-content clrPosition="bottom-right" clrSize="md" *clrIfOpen>
                    <span>Despensa</span>
                </clr-tooltip-content>
            </clr-tooltip>
            <clr-tooltip>
                <a class="nav-link nav-icon" href="./listaCompras" *ngIf="holderService.userLogado" clrTooltipTrigger>
                    <clr-icon shape="list"></clr-icon>
                </a>
                <clr-tooltip-content clrPosition="bottom-right" clrSize="md" *clrIfOpen>
                    <span>Lista de Compras</span>
                </clr-tooltip-content>
            </clr-tooltip>
            <clr-tooltip>
                <a class="nav-link nav-icon" clrTooltipTrigger (click)="publicarReceita()" *ngIf="holderService.userLogado">
                    <clr-icon shape="archive"></clr-icon>
                </a>
                <clr-tooltip-content clrPosition="bottom-right" clrSize="md">
                    <span>Publicar Receita</span>
                </clr-tooltip-content>
            </clr-tooltip>
        </div>
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-icon" clrDropdownTrigger>
                    <clr-icon shape="user" *ngIf="holderService.userLogado"></clr-icon>
                    <clr-icon shape="login" *ngIf="!holderService.userLogado"></clr-icon>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a clrDropdownItem (click)="abrirComponentesGenericoDaIndex('PainelDeControleComponent')" *ngIf="holderService.userLogado">Meu Perfil</a>
                    <a clrDropdownItem (click)="sair()" *ngIf="holderService.userLogado">Sair</a>
                    <a clrDropdownItem (click)="entrar()" *ngIf="!holderService.userLogado">Entrar</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </clr-header>
    <nav class="subnav" [clr-nav-level]="1" *ngIf="subNavAtivo">
        <ul class="nav">
            <subnav [menu]="menu" (click)="changeCase(menu.component);" *ngFor="let menu of menus"></subnav>
        </ul>
    </nav>
    <div class="content-container">
        <main class="content-area">
            <router-outlet *ngIf="!templateService.component"></router-outlet>
            <dynamic-component *ngIf="templateService.component" [componentData]="templateService.component"></dynamic-component>
        </main>
        <clr-vertical-nav [clrVerticalNavCollapsible]="true" *ngIf="holderService.sideNav">
            <a clrVerticalNavLink href="#" [routerLink]="['/topavaliacao']" routerLinkActive="active">
                <clr-icon clrVerticalNavIcon shape="star"></clr-icon>
                Bem Avaliadas</a>
            <clr-vertical-nav-group routerLinkActive="active">
                <clr-icon shape="view-cards" clrVerticalNavIcon></clr-icon>
                Categorias
                <clr-vertical-nav-group-children *clrIfExpanded="true">
                    <div *ngFor="let cat of categorias">
                        <a clrVerticalNavLink [routerLink]="['/categoria', cat.id]" (click)="categoriarComp.carregarCategoria()" routerLinkActive="active">
                            {{cat.nome}}
                        </a>
                    </div>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
        </clr-vertical-nav>
    </div>
    <login-component></login-component>
    <publicar-receita-component #publicar [receita]="receita" [_open]="publicarOpen"></publicar-receita-component>
</clr-main-container>