<clr-alert [clrAlertType]="alert.clrAlertType" *ngIf="alert.msg" [clrAlertAppLevel]="true">
    <clr-alert-item>
        <span class="alert-text">
            {{ alert.msg }}
        </span>
    </clr-alert-item>
</clr-alert>

<clr-main-container>

    <clr-header class="header-4">
        <div class="branding" (click)="location.reload()">
            <a href="#" class="nav-link">
                <clr-icon class="is-inverse" shape="vmw-app"></clr-icon>
                <span class="title">Let's Cook</span>
            </a>
        </div>

        <div class="header-nav">
            <a class="nav-link nav-icon" (click)="abrirComponentesGenericoDaIndex('IndexPageComponent')">
                <clr-icon shape="book"></clr-icon>
            </a>
            <a class="nav-link nav-icon" href="./busca">
                <clr-icon shape="search"></clr-icon>
            </a>
            <a class="nav-link nav-icon" *ngIf="holderService.userLogado" (click)="abrirComponentesGenericoDaIndex('PainelDeControleComponent')">
                <clr-icon shape="cog"></clr-icon>
            </a>
            <a class="nav-link nav-icon" href="./despensa" *ngIf="holderService.userLogado">
                <clr-icon shape="bundle"></clr-icon>
            </a>
            <a class="nav-link nav-icon" href="./listaCompras" *ngIf="holderService.userLogado">
                <clr-icon shape="list"></clr-icon>
            </a>
        </div>
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-icon" clrDropdownTrigger>
                    <clr-icon shape="user" *ngIf="holderService.userLogado"></clr-icon>
                    <clr-icon shape="login" *ngIf="!holderService.userLogado"></clr-icon>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a clrDropdownItem (click)="abrirComponentesGenericoDaIndex('PainelDeControleComponent')" *ngIf="holderService.userLogado">Meu Perfil</a>
                    <a clrDropdownItem (click)="sair()" *ngIf="holderService.userLogado">Sair</a>
                    <a clrDropdownItem (click)="entrar()" *ngIf="!holderService.userLogado">Entrar</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </clr-header>
    <nav class="subnav" [clr-nav-level]="1" *ngIf="subNavAtivo">
        <ul class="nav">
            <subnav [menu]="menu" (click)="changeCase(menu.component);" *ngFor="let menu of menus"></subnav>
        </ul>
    </nav>

    <div class="content-container" *ngIf="subNavAtivo">
        <div class="content-area">
            <dynamic-component [componentData]="templateService.component"></dynamic-component>
        </div>
    </div>


    <div *ngIf="!subNavAtivo">
        <dynamic-component [componentData]="templateService.component"></dynamic-component>
    </div>


    <login-component></login-component>

    <clr-vertical-nav *ngIf="sidenavActive" [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" [clr-nav-level]="2">
        <sidenav-component></sidenav-component>
    </clr-vertical-nav>

</clr-main-container>