<clr-wizard #wizard [(clrWizardOpen)]="open" clrWizardSize="xl">
    <clr-wizard-title>Preparar Receita</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'" (click)="cancelar()">Cancelar</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Voltar</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Avançar</clr-wizard-button>
    <clr-wizard-button [type]="'finish'" (click)="alert('oi')">Concluir</clr-wizard-button>

    <clr-wizard-page [clrWizardPageNextDisabled]="!validationStepOne()">
        <ng-template clrPageTitle>
            <clr-icon shape="list" size="48"></clr-icon>
            <label>Separação dos Ingredientes</label>
        </ng-template>
        <ng-template clrPageNavTitle>Separação dos Ingredientes</ng-template>
        <form #form="ngForm" novalidate>

            <div class="row">
                <div class="col-md-12">
                    Para continuarmos com a receita, selecione e realize a separação dos ingredientes abaixo:
                </div>
                <div class="col-md-12">
                    <ul class="list">
                        <li *ngFor="let ingt of receita.ingts; let i = index;">
                            <div class="checkbox">
                                <input id="checkrads_{{i}}" type="checkbox" [checked]="ingt.checked" (change)="handleChange(i)">
                                <label for="checkrads_{{i}}">
                                    <b>{{ingt.quant}}</b> {{detailMedida(ingt.uMedida).desc}} de
                                    <b>{{ingt.ingrediente.nome}}</b>.</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row flex-items-xs-bottom">
                <div class="col-xs">
                    <div class="btn-group btn-primary btn-sm">
                        <button class="btn" (click)="selecionarTodos()">
                            <clr-icon shape="cursor-arrow"></clr-icon>
                            Selecionar todos</button>
                        <button class="btn btn-success">
                            <clr-icon shape="bundle"></clr-icon>
                            Sacar da Despensa</button>
                        <button class="btn btn-danger" (click)="removerTodos()">
                            <clr-icon shape="trash"></clr-icon>
                            Remover todos</button>
                    </div>
                </div>
            </div>
        </form>
    </clr-wizard-page>

    <clr-wizard-page *ngFor="let etapa of receita.etapas; let i = index;" [clrWizardPageNextDisabled]="!validationStepTwo[i]">
        <ng-template clrPageNavTitle>Preparo Etapa {{i+1}}: {{etapa.nome}}</ng-template>
        <ng-template clrPageTitle>
            <clr-icon shape="tasks" size="48"></clr-icon>
            <label>Preparo Etapa {{i+1}}: {{etapa.nome}}</label>
        </ng-template>

        <form (keydown.enter)="$event.preventDefault()" class="compact" name="preparar">

            <div class="row">


                <div class="col-md-12">
                    <div class="progress success">
                        <progress value="0" max="{{etapa.passos.length}}"></progress>
                    </div>
                </div>
            </div>

            <div class="row" *ngFor="let passo of etapa.passos; let ip = index;">
                <div class="col-md-12">
                    <clr-alert *ngIf="passo.checked && passo.dica">
                        <div class="alert-item">
                            <span class="alert-text">
                                Dica do Criador: {{passo.dica}}.
                            </span>
                        </div>
                    </clr-alert>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">{{etapa.nome}}</h4>
                        </div>
                        <ul class="list-group list-group-flush">
                            <passo-component *ngFor="let passo of etapa.passos; let ip = index;" [passo]="passo"></passo-component>
                        </ul>
                        <div *ngFor="let passo of etapa.passos; let ip = index;">
                            <div class="card-footer" *ngIf="passo.checked">
                                <a class="btn btn-sm btn-link" (click)="proximoPasso(passo, etapa)">Próximo Passo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md" *ngFor="let pas of etapa.passos; let ip = index;">
                    <div class="card" *ngIf="pas.checked && pas.minPasso">
                        <div class="card-block">
                            <h4 class="card-title">Cronômetro</h4>
                            <div class="card-text">
                                {{ cronometro }}
                            </div>
                        </div>
                        <div class="card-footer">
                            <clr-icon shape="play" (click)="playCrono(pas.minPasso)"></clr-icon>
                            <clr-icon shape="stop"></clr-icon>
                            <clr-icon shape="refresh"></clr-icon>
                        </div>
                    </div>
                </div>

            </div>

        </form>

    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageNavTitle>Avaliar</ng-template>
        <ng-template clrPageTitle>
            <clr-icon shape="star" size="48"></clr-icon>
            <label>Avaliar</label>
        </ng-template>

        <form (keydown.enter)="$event.preventDefault()" class="compact" name="publicar">

        </form>

    </clr-wizard-page>


</clr-wizard>