<wizard>
    <wizard-step title="Informações da Receita" optionalStep>
        <div class="container">
            <form>
                <section class="form-block">
                    <div class="form-group">
                        <label>Nome da Receita: </label>
                        <input type="text" placeholder="Digite o nome da receita">
                    </div>
                    <div class="form-group">
                        <label>Descrição da Receita: </label>
                        <textarea rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Tempo de Preparo(Minutos): </label>
                        <input type="number" placeholder="Digite o tempo que irá demorar até finalizar a receita">
                    </div>
                    <div class="form-group">
                        <label>Categoria da Receita: </label>
                        <div class="select">
                            <select>
                                <option value="cat1">cat1</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Imagem: </label>
                        <input type="file">
                    </div>
                </section>
            </form>
        </div>

        <button type="button" class="btn btn-secondary" previousStep>Voltar</button>
        <button type="button" class="btn btn-primary" nextStep>Proximo</button>
    </wizard-step>
    <wizard-step title="Incluir Ingredientes" optionalStep>
        <div class="container">
            <form>
                <section class="form-block">
                    <div class="form-group">
                        <label>Ingrediente: </label>
                        <input type="text" placeholder="Digite o nome da ingrediente">
                    </div>
                    <div class="form-group">
                        <label>Unidade: </label>
                        <input type="number" placeholder="Digite a unidade">
                    </div>
                    <div class="form-group">
                        <label>Quantidade: </label>
                        <input type="number" placeholder="Digite a quantidade">
                    </div>
                </section>
            </form>
            <button class="btn btn-primary btn-block">Adicionar ingrediente</button>

            <table class="table">
                <thead>
                    <tr>
                        <th>Nome do Ingrediente</th>
                        <th>Unidade de Medida</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cenoura</td>
                        <td>UNIDADE</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Oleo</td>
                        <td>XICARA</td>
                        <td>0.5</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <button type="button" class="btn btn-secondary" previousStep>Voltar</button>
        <button type="button" class="btn btn-primary" nextStep>Proximo</button>
    </wizard-step>
    <wizard-step title="Etapas" optionalStep>
        <div class="container">

            <button class="btn btn-primary btn-block" (click)="modalEtapa = true;">Inserir um Passo*</button>

            <table class="table">
                <thead>
                    <tr>
                        <th>Nome da Etapa</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>MASSA</td>
                        <td>
                            <button class="btn btn-icon btn-primary btn-sm">
                                    <clr-icon shape="note"></clr-icon>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>COBERTURA</td>
                        <td>
                            <button class="btn btn-icon btn-primary btn-sm">
                                    <clr-icon shape="note"></clr-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button type="button" class="btn btn-secondary" previousStep>Voltar</button>
        <button type="button" class="btn btn-primary" nextStep>Proximo</button>
    </wizard-step>
    <wizard-step title="Finalizar">
        <div class="container">

        </div>
        <button type="button" class="btn btn-secondary" previousStep>Voltar</button>
        <button type="button" class="btn btn-primary" (click)="finishFunction()">Publicar</button>
    </wizard-step>
</wizard>

<clr-modal [(clrModalOpen)]="modalEtapa">
    <h3 class="modal-title">I have a nice title</h3>
    <div class="modal-body">
        <form>
            <section class="form-block">
                <div class="form-group">
                    <label>Descrição: </label>
                    <textarea rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label>Tipo: </label>
                    <div class="select">
                        <select>
                            <option value="cat1">cat1</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Quantidade em Minutos: </label>
                    <input type="number" placeholder="Digite a Quantidade em Minutos">
                </div>
            </section>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="basic = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="basic = false">Ok</button>
    </div>
</clr-modal>