<div class="row" *ngIf="loading">
    <div class="col-xs text-center">
        <span class="spinner">
            Loading...
        </span>
    </div>
</div>
<div *ngIf="!loading">
    <h3 class="header-margin-top">Cadastrar Categoria</h3>
    <div class="row">
        <div class="col-md-6">
            <form class="compact">
                <section class="form-block">
                    <label>Formulário</label>
                    <div class="form-group">
                        <label class="required" for="nome">Nome</label>
                        <input type="text" id="nome" autofocus="true" name="nome" [(ngModel)]="categoria.nome" placeholder="Nome da Categoria...">
                    </div>
                    <button class="btn btn-primary" [disabled]="!validation()" (click)="cadastrarCategoria()">Salvar</button>
                    <button class="btn btn-secondary" (click)="limpar()">Cancelar</button>
                </section>
            </form>
        </div>
        <div class="col-md-6">
            <h4>Lista de Categorias</h4>
            <clr-datagrid *ngIf="categorias">
                <clr-dg-placeholder>Não existe categorias cadastradas.</clr-dg-placeholder>
                <clr-dg-column>Nome</clr-dg-column>
                <clr-dg-row *clrDgItems="let categoria of categorias">
                    <clr-dg-cell>{{categoria.nome}}</clr-dg-cell>
                    <clr-dg-action-overflow>
                        <button class="action-item" (click)="modificaCategoria(categoria)">Editar</button>
                        <button class="action-item" (click)="deletarCategoria(categoria)">Excluir</button>
                    </clr-dg-action-overflow>
                </clr-dg-row>
                <clr-dg-footer>
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} Categorias
                    <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
                </clr-dg-footer>
            </clr-datagrid>
            <div *ngIf="!categorias">
                <p>Lista vazia ou com erro na busca utilize o botão abaixo para tentar novamente...</p>
                <button class="btn btn-primary btn-block btn-sm" (click)="listarCategoria()">Atualizar Lista</button>
            </div>
        </div>
    </div>
    <clr-modal [(clrModalOpen)]="modalOpenCloseStatus">
        <h3 class="modal-title">Modificar Categoria</h3>
        <div class="modal-body">
            <div *ngIf="categoriaMod">
                <form class="compact">
                    <section class="form-block">
                        <label>Formulário</label>
                        <div class="form-group">
                            <label class="required" for="nome">Nome</label>
                            <input type="text" id="nome" autofocus="true" name="nome" [(ngModel)]="categoriaMod.nome" placeholder="Nome da Categoria...">
                        </div>
                    </section>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" [disabled]="btnModCategoriaDisable" (click)="atualizaCategoria()">Atualizar</button>
            <button type="button" class="btn btn-outline" (click)="modalOpenCloseStatus = false;">Fechar</button>
        </div>
    </clr-modal>
</div>