<div *ngIf="loading">
    <div class="text-center center loading">
        <span class="spinner">
            Loading...
        </span>
    </div>
</div>
<div *ngIf="!loading">
    <h2>Lista de Compras</h2>
    <clr-datagrid>
        <clr-dg-column>Nome</clr-dg-column>
        <clr-dg-column>Data de Criação</clr-dg-column>
        <clr-dg-row *clrDgItems="let lista of listas" [clrDgItem]="lista">
            <clr-dg-cell (click)="editarLista(lista)">{{lista.nome}}</clr-dg-cell>
            <clr-dg-cell>{{((lista.dataCriacao / 1000) | amFromUnix) | amDateFormat: 'DD/MM/YYYY HH:mm'}}</clr-dg-cell>
            <clr-dg-action-overflow>
                <button class="action-item" (click)="editarLista(lista)">Ver</button>
                <button class="action-item" (click)="excluirLista(lista)">Excluir</button>
            </clr-dg-action-overflow>
        </clr-dg-row>
    </clr-datagrid>
    <button type="button" class="btn btn-primary btn-block btn-sm" (click)="createLista()">Adicionar Lista de Compras</button>
</div>

<clr-modal [(clrModalOpen)]="modalModifica">
    <h3 class="modal-title">Gerenciar Lista de Compra</h3>
    <div class="modal-body">
        <div *ngIf="editedLista">
            <clr-stack-view>
                <clr-stack-header>{{editedLista.nome}}</clr-stack-header>

                <clr-stack-block [clrSbExpanded]="true" [clrSbExpandable]="false">
                    <clr-stack-label>Ingrediente</clr-stack-label>
                    <clr-stack-content>
                        <div class="row">
                            <div class="col-lg-10">
                            </div>
                            <div class="col-lg-2">
                                <clr-icon shape="plus" (click)="adicionarIngrediente()"></clr-icon>
                            </div>
                        </div>
                    </clr-stack-content>
                    <clr-stack-block *ngFor="let list of editedLista.itens">
                        <clr-stack-label (dblclick)="editaPassoH(list)">
                            <div class="row">
                                <div class="col-md-10">
                                    <div *ngIf="list != itemListaH">
                                        {{list.nome}}
                                    </div>
                                    <div *ngIf="list === itemListaH">
                                        <input type="text" [(ngModel)]="list.nome" (focusout)="outPassoH()" (keyup.enter)="outPassoH()">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <clr-checkbox [(clrChecked)]="list.checked"> </clr-checkbox>
                                </div>
                            </div>
                        </clr-stack-label>
                        <clr-stack-content style="float: right;">
                            <clr-icon shape="trash" (click)="excluirIngredienteDaLista(list)" style="text-align: right"></clr-icon>
                        </clr-stack-content>
                    </clr-stack-block>

                </clr-stack-block>

            </clr-stack-view>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="modalModifica = false">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="atualizaModificaLista()">Atualizar</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="modalCreate">
    <h3 class="modal-title">Criar Lista de Compra</h3>
    <div class="modal-body">
        <div>
            <label>Nome da Lista</label>
            <input type="text" placeholder="Insira o nome da lista" [(ngModel)]="createdLista.nome">
            <clr-stack-view style="margin-top: 25px;">
                <clr-stack-block [clrSbExpanded]="true" [clrSbExpandable]="false">
                    <clr-stack-label>Ingrediente</clr-stack-label>
                    <clr-stack-content>
                        <div class="row">
                            <div class="col-lg-10">
                            </div>
                            <div class="col-lg-2">
                                <clr-icon shape="plus" (click)="adicionaIngredienteNacreatedLista()"></clr-icon>
                            </div>
                        </div>
                    </clr-stack-content>
                    <clr-stack-block *ngFor="let list of createdLista.itens">
                        <clr-stack-label (dblclick)="editaPassoH(list)">
                            <div *ngIf="list != itemListaH">
                                {{list.nome}}
                            </div>
                            <div *ngIf="list === itemListaH">
                                <input type="text" [(ngModel)]="list.nome" (focusout)="outPassoH()" (keyup.enter)="outPassoH()">
                            </div>                            
                        </clr-stack-label>
                        <clr-stack-content style="float: right;">
                            <clr-icon shape="trash" (click)="excluirIngredienteDaListaCreate(list)"></clr-icon>
                        </clr-stack-content>
                    </clr-stack-block>
                </clr-stack-block>
            </clr-stack-view>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="modalCreate = false">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="cadastrar()" [disabled]="btnDisabledCreateLista">{{btnNameCreateLista}}</button>
    </div>
</clr-modal>