<h3>Suas Receitas....</h3>
<table class="table table-vertical table-compact">
    <tbody>
        <tr>
            <th>Basic table</th>
            <td>.table</td>
            <td>
                <button class="btn btn-primary btn-sm">Modificar</button>
            </td>
        </tr>
        <tr>
            <th>Left-aligned table cells</th>
            <td>.left</td>
            <td>
                <button class="btn btn-primary btn-sm">Modificar</button>
            </td>
        </tr>
        <tr>
            <th>Tables without borders</th>
            <td>.table-noborder</td>
            <td>
                <button class="btn btn-primary btn-sm">Modificar</button>
            </td>
        </tr>
        <tr>
            <th>Compact tables</th>
            <td>.table-compact</td>
            <td>
                <button class="btn btn-primary btn-sm">Modificar</button>
            </td>
        </tr>
        <tr>
            <th>Vertical tables</th>
            <td>.table-vertical</td>
            <td>
                <button class="btn btn-primary btn-sm">Modificar</button>
            </td>
        </tr>
    </tbody>
</table>