<div class="card">
  <div class="card-header">
    Comentários
  </div>
  <div class="card-block" *ngFor="let coment of receita.comentarios">
    <div class="card-media-block">
      <img [src]="coment.usuario.imagem" class="card-media-image">
      <div class="card-media-description">
        <span class="card-media-title">
          Comentário:
        </span>
        <span class="card-media-text">
          {{coment.conteudo}}
        </span>
      </div>
    </div>
  </div>
  <div class="card-footer" *ngIf="!comentar">
    <button class="btn btn-sm btn-link" (click)="comentar = true">Comentar</button>
  </div>
  <div class="card-footer" *ngIf="comentar">
    <div class="form-group">
      <textarea appAutofocus id="comentario" name="comentario" [(ngModel)]="comentario.conteudo" placeholder="Comentário..."></textarea>
      <button class="btn btn-success-outline" (click)="confirmarComentario()">Comentar</button>
      <button class="btn btn-warning-outline" (click)="cancelarComentario()">Cancelar</button>
    </div>
  </div>
</div>